<div class="bio">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h2 class="section-title">About Me</h2>
				<p>Officially, it’s not set to launch until next week, so we can forgive you for not getting the memo – but that hasn’t stopped the collaboration flying off the shelves already this morning. Six of the exclusive 10-piece range dropped on Net-a-Porter today, and the nude jewel-encrusted sandals have already sold out completely (there’s only a handful of sizes left in black, too).</p>
			</div>
		</div>
	</div>
</div>