<div class="bio">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h2 class="section-title">About Me</h2>
				<p>I am currently a full time Designer at Made By Cinema - an incubator based in the heart of Soho - where I design for their digital portfolio consisting of Styloko and 23snaps.</p>

				<p>During my 3+ years in the industry I have designed for many different platforms including web, mobile, tablets and print. I often joke that I was "raised by Developers" as I was taught to code before becoming a Designer, so I'm also a very capable Front End Developer. As such, my HTML, CSS and JS are pretty sharp, as well as having picked up some Ruby and PHP (among other languages) along the way.</p>
			</div>
		</div>
	</div>
</div>