<div class="contact section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="section-title">Contact Me</h2>
				<ul>
					<li>
						<span>Follow me on <a href="#">Twitter</a></span>
					</li>
					<li>
						<span>Connect with me on <a href="#">Linkedin</a></span>
					</li>
					<li>
						<span>Checkout my <a href="#">Github</a></span>
					</li>
					<li>
						<br>
						<span>Or email me on</span>
						<br>
						<span>hello [at] thesamwillis [dot] com</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>