<div class="row">
	<div class="col-md-12">
		<h1>My Career (so far)</h1>
		<h2>Listora</h2>

		<p>Listora blurb...</p>
		<p>I worked with Alex and Henry for over 3 years, helping them launch a number of different products and services within the event industry, ultimately leading to the creation of Listora.com. During my time here I created UIs, blogs, landing pages, a variety of adverts, icons and even did the voice over for this ad.</p>

		<h2>Cinema</h2>

		<p>Incubator</p>
		<p>I currently work at Cinema, and have done for the past 4 months*. I was brought in to work with the talented and charming Mr. Simon Rohrbach, to help them take their digital portfolio to the next level. In April 2014 we took a huge step and launched our family album app - 23snaps - in Brazil. Needless to say this was an exciting (and scary) time to join and be a part of the team.</p>

		<p>The other pillar of Cinema's portfolio is Styloko - the social shopping site - which I have throughly enjoyed working on and helping the team to steadily grow the app and get some serious traction. Working on the Styloko app provides a brilliant contrast in both style and problems that need solving to 23snaps. I even get to do a bit of print every now and then :)</p>
		<h2>Design+Banter</h2>

		<p>C-founder / organiser</p>
		<p>blurb</p>
		<p>I co-organise the popular (in Old Street anyway...) event Design-Banter with my good friend Gearóid O'Rourke. Over the past 12 months* we have taken the event from humble beginnings - 50 of our mates in a small room in the basement of a bowling alley - to a sell-out, 200 person event. It has been an amazing ride so far, and I am very excited to see where it goes next.</p>

		<p>[*put in some JS that dynamically updates the date]</p>
	</div>
</div>