<div class="portfolio section">
	<div class="center-content">
		<div class="row">
			<div class="col-md-6">
				<h2>Some of my work</h2>
				<p>I am a UX/UI/Product/Front-End/Web Designer based in London, UK. I've been working in the industry for 2+ years, at a handful of exciting start-ups.</p>
				<p>My approach to Design leans heavily on data and research to solve problems efficiently and create clean and delightful experiences for users.</p>
				<button type="button" class="btn btn-primary btn-lg">Dribbble</button>
				<button type="button" class="btn btn-primary btn-lg">Linkedin</button>
				<button type="button" class="btn btn-primary btn-lg">Instagram</button>
				<button type="button" class="btn btn-primary btn-lg">Twitter</button>
			</div>
			<div class="col-md-5 col-md-offset-1">
				<div class="row">
					<div class="col-md-6">
						<div class="box"></div>
						<p>This is some work</p>
					</div>
					<div class="col-md-6">
						<div class="box"></div>
						<p>This is some work</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="box"></div>
						<p>This is some work</p>
					</div>
					<div class="col-md-6">
						<div class="box"></div>
						<p>This is some work</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>