<div class="header">

	<div class="container">

		<div class="row">

			<div class="col-md-10 col-md-offset-1">

				<div class="center-content">

					<div class="row intro">
						<div class="col-md-12">
							<h2>Good afternoon, my name's Sam and I'm a London based Product Designer.
						</div>
					</div>

					<div class="row funnel">
						<div class="col-md-12">
							<div class="panel-group" id="accordion">
								<div class="panel">
								    <div class="panel-heading">
										<h2 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
												Why are you here?
												<span class="caret"></span>
											</a>
										</h2>
								    </div>
									<div id="collapseOne" class="panel-collapse collapse">
										<div class="">
											<h3>I want to see your work.</h3>
											<h3>I am looking to employ a Designer.</h3>
											<h3>I am looking for a Freelance Designer.</h3>
											<h3>I am just browsing around.</h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
