<div class="top section">
	<div class="center-content">
		<div class="row">
			<div class="col-md-2 col-md-offset-1">
				<img class="img-circle img-responsive" src="http://en.gravatar.com/userimage/34742812/a3fd186f054258dbd017413737ce737f.jpg?size=400">
				<button type="button" class="btn btn-primary btn-block">Twitter</button>
			</div>
			<div class="col-md-8">
				<h2>Hey! I'm Sam Willis, a Product Designer based in London.</h2>
				<h2>How can I help?</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<button type="button" class="btn btn-default btn-lg btn-block">I want to see your work.</button>
				<button type="button" class="btn btn-default btn-lg btn-block">I am looking to employ a Designer.</button>
				<button type="button" class="btn btn-default btn-lg btn-block">I am looking for a Freelance Designer.</button>
				<button type="button" class="btn btn-default btn-lg btn-block">I am just browsing around.</button>
			</div>
		</div>
	</div>
</div>