<div class="bio">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<p>I am a UX/UI/Product/Front-End/Web Designer based in London, UK. I've been working in the industry for 2+ years, at a handful of exciting start-ups.</p>
				<p>My approach to Design leans heavily on data, research and established patterns to solve problems quickly and effectively. Whilst creating a clean and delightful experience for the user.</p>
				<a href="#">Take a look at some of my work.</a>
			</div>
		</div>
	</div>
</div>