<div class="top section">
	<div class="center-content">
		<div class="row portrait">
			<div class="col-md-3">
				<img class="img-circle img-responsive" src="img/portrait.png">
				<!-- <button type="button" class="btn btn-primary btn-lg btn-block">Follow me on Twitter</button> -->
			</div>
		<!-- </div>
		<div class="row introduction"> -->
			<div class="col-md-9">
				<h2>Hey! I'm <span>Sam Willis</span>, a <span>Product Designer</span> based in <span>London</span>.</h2>
				<h2><strong>How can I help you?</strong></h2>
			</div>
		</div>
		<div class="row funnel-top">
			<div class="col-md-12">
				<button type="button" class="btn btn-default btn-lg btn-block">I want to see your work.<span class="glyphicon glyphicon-chevron-right"></span></button>
				<button type="button" class="btn btn-default btn-lg btn-block">I am looking to employ a Designer.<span class="glyphicon glyphicon-chevron-right"></span></button>
				<button type="button" class="btn btn-default btn-lg btn-block">I am looking for a Freelance Designer.<span class="glyphicon glyphicon-chevron-right"></span></button>
				<button type="button" class="btn btn-default btn-lg btn-block">I am just browsing around.<span class="glyphicon glyphicon-chevron-right"></span></button>
			</div>
		</div>
	</div>
</div>