<div class="employment">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="center-content">
					<div class="row">
						<div class="col-md-6">
							<h2>I currently work at <a href="#">Made by Cinema</a>.</h2>
							<p>Alas, I am currently employed. But if you are looking for a Designer, perhaps I know someone who may be suitable.</p>
							<p>I organise event called <a href="#">Design+Banter</a> for 200 Designers to congregate and share stories every month. Why not check it out?</p>
							<button type="button" class="btn btn-primary btn-lg btn-block">Go To DesignandBanter.com</button>
						</div>
						<div class="col-md-5 col-md-offset-1">
							<img class="img-responsive img-rounded" src="img/design-and-banter.png">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>