<div class="work section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="section-title">My Work</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5 col-md-offset-2 work-info">
				<div class="work-info-inner">
					<h3>Mobile</h3>
					<h4>23snaps: onboarding introduction</h4>
					<p>We wanted to give first time users a little bit of context when they set up a new account. I opted for a popover approach with 3 'slides' to get the job done without getting in the way.</p>
				</div>
			</div>
			<div class="col-md-5 work-item">
				<div class="marvel-device iphone5c white">
				    <div class="top-bar"></div>
				    <div class="sleep"></div>
				    <div class="volume"></div>
				    <div class="camera"></div>
				    <div class="sensor"></div>
				    <div class="speaker"></div>
				    <div class="screen">
				        <!-- Content goes here -->
				        <img class="work-item-content" src="img/work/23snaps-onboarding-intro.png">
				    </div>
				    <div class="home"></div>
				    <div class="bottom-bar"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5 col-md-offset-1 work-item left">
				<div class="marvel-device iphone5c white">
				    <div class="top-bar"></div>
				    <div class="sleep"></div>
				    <div class="volume"></div>
				    <div class="camera"></div>
				    <div class="sensor"></div>
				    <div class="speaker"></div>
				    <div class="screen">
				        <!-- Content goes here -->
				        <img class="work-item-content" src="img/work/styloko-product-page.jpg">
				    </div>
				    <div class="home"></div>
				    <div class="bottom-bar"></div>
				</div>
			</div>
			<div class="col-md-5 work-info">
				<div class="work-info-inner">
					<h3>Mobile</h3>
					<h4>Styloko: product pages</h4>
					<p>These pages needed to contain all of the relevant information about a product, clearly and succinctly. From here, users can add an item to their boutique, or buy it either online or choose from an outlet nearby.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5 col-md-offset-1 work-info">
				<div class="work-info-inner">
					<h3>Web</h3>
					<h4>Styloko: trend page</h4>
					<p>We wanted to create a hybrid shopping/blog experience, so we pulled on our exisiting shopping grid and put it together with editorial pieces and relevant social media to create a home for each trend.</p>
				</div>
			</div>
			<div class="col-md-5 work-item">
				<div class="marvel-device iphone5c white">
				    <div class="top-bar"></div>
				    <div class="sleep"></div>
				    <div class="volume"></div>
				    <div class="camera"></div>
				    <div class="sensor"></div>
				    <div class="speaker"></div>
				    <div class="screen">
				        <!-- Content goes here -->
				    </div>
				    <div class="home"></div>
				    <div class="bottom-bar"></div>
				</div>
			</div>
		</div>
	</div>
</div>
