.footer
	.container
		.row
			.col-sm-12.pull-right
				%p Built with Middleman, SCSS, HAML, love & JQUERY. Hosted on GitHub Pages. Photo Credit: <a href="https://www.flickr.com/photos/mikestezy/12936857645/in/set-72157641878148564">Mr Stezz</a>.