.nav
	.container
		.row
			.col-sm-2
				.name-link
					%a{:href => "/"} Sam J. Willis

			.col-sm-10
				%ul.menu
					%li.active
						%a{:href => "/"} Home
					%li
						%a{:href => "/"} Case Studies
					%li
						%a{:href => "/"} Experience
					%li
						%a{:href => "/"} Contact