.nav
	.container
		.row
			.col-xs-6
				.name-link
					%a{:href => "/"} Sam J. Willis

			.col-xs-6
				%ul.menu
					%li.active
						%a{:href => "/"} Home
					%li
						%a{:href => "/"} Case Studies
					%li
						%a{:href => "/"} Contact