<div class="fullscreen">
	<div class="profile">
		<img class="img-circle profile-picture" src="images/profile.jpeg">
		<div class="details">
			<h1 class="myname">Sam Willis</h1>
			<h2 class="roles">Product Designer</h2>
			<h3 class="Location">in London</h3>
		</div>
	</div>
	<div class="contact"></div>
</div>