<div class="fullscreen">
	<div class="center">
		<div class="profile">
			<img class="img-circle profile-picture" src="images/profile.png">
			<div class="details">
				<h1 class="myname">Sam Willis</h1>
				<h2 class="roles">Product Designer</h2>
				<h3 class="location"><em>in</em> London</h3>
			</div>
		</div>
	</div>
	<div class="contact">
		<span class="title">Get in touch</span>
		<ul class="social-icons">
			<li class=""><a href="#">Twitter</a></li>
			<li class=""><a href="#">Linkedin</a></li>
			<li class=""><a href="#">Github</a></li>
			<li class=""><a href="#">Dribbble</a></li>
		</ul>
	</div>
</div>