<div class="slider">
	<div class="section " id="section0">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="slider-item">
						<img class="item-image" src="">
						<span class="item-title"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>