.fullscreen {
	position: relative;
	height: 100vh;
	// background: $gray-scale-3 url('../images/background.jpg') no-repeat 0 0 scroll;
	// background-size: cover;
}

.background {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: $gray-scale-3 url('../images/background.jpg') no-repeat 0 0 scroll;
	background-size: cover;
}
