.page-header {
	position: relative;
	height: 90vh;
	text-align: center;
	background-color: $grey-scale-3;
	@include preserve;

	// &:before {
	// 	content: '';
	// 	position: absolute;
	// 	bottom: 0;
	// 	left: 0;
	// 	width: 100%;
	// 	height: 60px;
	// 	background-image: url('../images/angle-thing-bottom.png');
	// 	background-repeat: no-repeat;
	// 	background-size: 100% 100%;
	// }

		&:before {
			content: '';
			width: 0;
			height: 0;
			border-left: 100vw solid transparent;
			border-right: 0px solid transparent;
			border-bottom: 60px solid #fff;
			position: absolute;
			bottom: 0;
			left: 0;
		}

	.container {
		@include vertically-center;
	}

	h1 {
		color: #fff;
		margin: 0;
	}

	h2.subheader {
		font-family: 'Merriweather', serif;
		font-style: italic;
		font-size: 1em;
		margin: 0.6em 0 0;
		color: #fff;
		opacity: 0.75;
	}
}

.section {
	padding: 90px 0;
}