.page-header {
	position: relative;
	height: 90vh;
	text-align: center;
	background-color: $grey-scale-3;
	@include preserve;

	&:before {
		content: '';
		width: 0;
		height: 0;
		border-left: 100vw solid transparent;
		border-right: 0px solid transparent;
		border-bottom: 60px solid #fff;
		position: absolute;
		bottom: 0;
		left: 0;
	}

	.container {
		@include vertically-center;
	}

	h1 {
		color: #fff;
		margin: 0;
	}

	h2.subheader {
		font-family: 'Merriweather', serif;
		font-style: italic;
		font-size: 1em;
		margin: 0.6em 0 0;
		color: #fff;
		opacity: 0.75;
	}
}

.section {
	padding: 90px 0;
	background-color: #fff;
}

.back {
	display: block;
	margin: 2em 0 0;
	font-weight: bold;
}

.post-image {
	max-width: 100%;
	margin: 60px auto;
	height: auto;
}