body {
	font-family: $serif;
	-webkit-font-smoothing: antialiased;
	font-size: 21px;
	line-height: 1.6em;
	font-weight: 400;
}

h1, h2, h3 {
	font-family: $sans;
}

h1 {
	font-size: 2.7em;
	line-height: 1.4em;
	font-weight: 800;
}

h2 {
	margin: 1.5em 0 0.5em;
	font-size: 1.8em;
	line-height: 1.4em;
	font-weight: 800;
	color: $primary-color-4;
}

h3 {
	margin: 0.9em 0 0;
	font-size: 1.2em;
	line-height: 1.4em;
	font-weight: 600;
	color: $primary-color-1;
}

a {
	&:hover, &:active {
		text-decoration: none;
	}
}

p {
	margin: 0 0 1em;

	&.first-paragraph {
		font-weight: 600;
	}
}

blockquote {
	font-style: italic;
	margin: 0 0 3em;
	padding: 0 0 0 1.5em;
	border-left: 5px solid $primary-color-1;
}