$primary-color-1: #47b4f0;
$primary-color-2: #6EC5F4;
$primary-color-3: #9FDAF9;
$primary-color-4: #0891DA;

$secondary-color-1: #FF6C42;

$tertiary-color-1: #FFCB42;

$grey-scale-1: #f7f7f9;
$grey-scale-2: #e1e1e3;
$grey-scale-3: #999;
$grey-scale-4: #333;

$twitter: #00aced;
$linkedin: #007bb6;
$github: #171515;
$dribbble: #ea4c89;

$serif: 'Merriweather', times, serif;

$sans: 'Roboto', 'helvetica neue', helvetica, sans-serif;

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin vertically-center {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin preserve {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.button {
    display: inline-block;
    text-align: center;
    font-family: $sans;
    font-size: 0.6em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    padding: 0.6em 1.5em;
    color: $twitter;
    background-color: #fff;
    @include transition (all, 0.1s);

    &:hover {
        color: #fff;
        background-color: $twitter;
    }
}

// @mixin bp($point) {

//     $bp-babybear: "(max-width: 600px)";
//     $bp-mamabear: "(max-width: 1250px)";
//     $bp-papabear: "(max-width: 1600px)";

//     @if $point == papa-bear {
//         @media #{$bp-papabear} { @content; }
//     }
//     @else if $point == mama-bear {
//         @media #{$bp-mamabear} { @content; }
//     }
//     @else if $point == baby-bear {
//         @media #{$bp-babybear}  { @content; }
//     }

// }