$primary-color-1: green;
$primary-color-2: lighten($primary-color-1, 10%);

$grey-scale-1: #f7f7f9;
$grey-scale-2: #e1e1e3;
$grey-scale-3: #999;
$grey-scale-4: #333;

$twitter: #00aced;
$linkedin: #007bb6;
$github: #171515;
$dribbble: #ea4c89;

$serif: 'Merriweather', times, serif;

$sans: 'Roboto', 'helvetica neue', helvetica, sans-serif;

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin vertically-center {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin preserve {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.button {
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #fff;
    text-align: center;
    cursor: pointer;
    @include transition (all, 0.1s);

    i {
        width: 40px;
        height: 40px;
        line-height: 40px;
        color: #fff;
    }
}

@mixin bp($point) {

    $bp-babybear: "(max-width: 600px)";
    $bp-mamabear: "(max-width: 1250px)";
    $bp-papabear: "(max-width: 1600px)";

    @if $point == papa-bear {
        @media #{$bp-papabear} { @content; }
    }
    @else if $point == mama-bear {
        @media #{$bp-mamabear} { @content; }
    }
    @else if $point == baby-bear {
        @media #{$bp-babybear}  { @content; }
    }

}