$primary: #564f9e;
$primary-light: lighten(#564f9e, 10%);
// $primary-tint: ;
// $primary-dark: ;

$gray-scale-1: #f0f0f1;
$gray-scale-1: #f0f0f1;
$gray-scale-3: #999;

// $headline: #CC3232;
// $text:    #616e6b;
// $rule:    #bbc7c5;
// $non:     #564f9e;

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin vertically-center {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin preserve {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}