.footer {
	background-color: $grey-scale-4;
	font-family: $sans;
	font-size: 0.6em;
	text-align: right;
	position: relative;
	padding: 45px 0 30px;
	color: $grey-scale-3;
	line-height: 1em;

	&:before {
		content: '';
		width: 0;
		height: 0;
		border-left: 0px solid transparent;
		border-right: 100vw solid transparent;
		border-top: 60px solid #fff;
		position: absolute;
		top: 0;
		left: 0;
	}
}