.homepage {
	.page-header {
		background-color: $primary-color-1;
		background-image: url('../images/main-bg.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 50%;

		h1 {
			color: #fff;
		}
	}

	h2.section-header {
		font-size: 2.7em;
		color: $primary-color-4;
		margin: 0 0 0.3em;
	}

	.introduction {

	}

	.case-studies {
		background-color: $grey-scale-1;
		@extend .angle-top;

		&.section {
			padding: 150px 0;
		}

		h2.section-header {
			// color: #fff;
		}

		p {
			// color: #fff;
		}

		.case-study {
			position: relative;
			background-color: $grey-scale-4;
			padding: 15px;
			height: 270px;
			margin-bottom: 30px;
			border-radius: 3px;

			&.styloko {
				background-image: url('../images/styloko-logo.png');
				background-repeat: no-repeat;
				background-size: cover;
				background-position: top 50% left 50%;
			}

			&.snaps {
				background-image: url('../images/23snaps-logo.png');
				background-repeat: no-repeat;
				background-size: cover;
				background-position: top 50% left 50%;
			}

			&.printastic {
				background-image: url('../images/printastic-logo.png');
				background-repeat: no-repeat;
				background-size: cover;
				background-position: top 50% left 50%;
			}

			h4 {
				color: #fff;
				font-family: $sans;
				position: absolute;
				bottom: 15px;
				text-align: center;
				margin: 0;
			}
		}
	}

	.experience {
		@extend .angle-top;

		&.section {
			padding-top: 150px;
		}

		&:before {
			border-top-color: $grey-scale-1;
		}

		ul.experience-list {
			list-style: none;
			margin: 0;
			padding: 0;
			position: relative;

			li.experience-item {
				margin: 30px 0;
				border-bottom: 1px solid $grey-scale-1;
				position: relative;

				&:last-child {
					border: none;
				}

				.date {
					display: block;
					font-size: 1em;
					font-family: $sans;
					font-weight: 400;
					color: $grey-scale-2;
				}

				.company {
					color: $grey-scale-4;
					display: inline-block;
					margin: 0 0 9px;
				}

				.role {
					display: inline;
					font-size: 1.2em;
					font-family: $sans;
					color: $grey-scale-2;
				}
			}
		}
	}

	.designandbanter {
		background-image: url('../images/db-bg.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
		@extend .angle-top;
		@extend .angle-bottom;

		&:after {
			border-bottom-color: #fff;
		}

		.db-logo {
			max-width: 300px;
			margin: 0 0 2em;
		}

		&.section {
			padding: 150px 0;
		}

		h2.section-header {
			color: #fff;
		}

		p {
			color: #fff;
		}
	}

	.selected-works {
		background-color: #fff;

		&.section {
			padding-bottom: 0;
		}

		h2.section-header {
			color: $primary-color-4;
		}

		.item-grid {
			@include clearfix;
		}

		.item {
			position: relative;
			// width: 25%;
			// float: left;
			display: block;
			padding: 0;

			img {
				width: 100%;
				height: auto;
			}

			.tag {
				text-align: center;
				visibility: hidden;
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: $primary-color-4;
				color: #fff;
				padding: 0 30px;
				top: 0;
				left: 0;
				opacity: 0;
				@include transition(0.2s, all);

				h3 {
					color: #fff;
					margin: 0 0 15px;
					@include vertically-center;
				}
			}

			&:hover {
				.tag {
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}

	.contact {

		&:before {
			border-top-color: $primary-color-4;
		}

		.social {
			font-family: $sans;
			list-style: none;
			margin: 30px 0 0;
			padding: 0;

			li {
				display: inline;
				font-weight: 900;
				font-size: 1.5em;
				opacity: 0.3;

				&:hover {
					opacity: 1;
				}

				.email {
					color: $primary-color-1;
					border-color: $primary-color-1;
				}

				.twitter {
					color: $twitter;
					border-color: $twitter;
				}

				.linkedin {
					color: $linkedin;
					border-color: $linkedin;
				}

				.github {
					color: $github;
					border-color: $github;
				}

				.dribbble {
					color: $dribbble;
					border-color: $dribbble;
				}
			}
		}
	}
}