.homepage {
	.page-header {
		background-color: $primary-color-1;
		#demo-canvas {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		h1 {
			color: #fff;
		}
	}

	h2.section-header {
		font-size: 2.7em;
		color: $primary-color-3;
		margin: 0 0 0.3em;
	}

	.introduction {

	}

	.case-studies {
		background-color: $grey-scale-1;

		.case-study {
			position: relative;
			background-color: $grey-scale-4;
			border-radius: 6px;
			padding: 30px;
			height: 270px;

			h3 {
				color: #fff;
				position: absolute;
				bottom: 30px;
				left: 30px;
			}
		}
	}

	.designandbanter {
		h2.section-header {
			color: #fff;
		}
		background-color: $primary-color-1;
	}

	.contact {

		.social {
			font-family: $sans;
			list-style: none;
			margin: 30px 0 0;
			padding: 0;
			// text-align: center;

			li {
				display: block;
				font-size: 3em;
				line-height: 1em;
				font-weight: 900;
				opacity: 0.3;
				margin: 0 0 30px;

				&:hover {
					opacity: 1;
				}

				a {
					display: block;
				}

				.email {
					color: $primary-color-1;
					border-color: $primary-color-1;
				}

				.twitter {
					color: $twitter;
					border-color: $twitter;
				}

				.linkedin {
					color: $linkedin;
					border-color: $linkedin;
				}

				.github {
					color: $github;
					border-color: $github;
				}

				.dribbble {
					color: $dribbble;
					border-color: $dribbble;
				}
			}
		}
	}
}