.homepage {
	.page-header {
		background-color: $primary-color-1;

		h1 {
			color: #fff;
		}
	}

	h2.section-header {
		font-size: 2.7em;
		color: $primary-color-4;
		margin: 0 0 0.3em;
	}

	.introduction {

	}

	.angle {
		position: relative;

		&:before {
			content: '';
			width: 0;
			height: 0;
			border-left: 0px solid transparent;
			border-right: 100vw solid transparent;
			border-top: 60px solid #fff;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	.case-studies {
		background-color: $primary-color-4;

		&.section {
			padding: 150px 0;
		}

		h2.section-header {
			color: #fff;
		}

		p {
			color: #fff;
		}

		.case-study {
			position: relative;
			background-color: $grey-scale-4;
			// border-radius: 3px;
			padding: 30px;
			height: 270px;

			h3 {
				color: #fff;
				position: absolute;
				bottom: 30px;
				left: 30px;
			}
		}
	}

	.designandbanter {
		background-image: url('../images/db-bg.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;

		.db-logo {
			max-width: 300px;
			margin: 0 0 2em;
		}

		&.section {
			padding: 150px 0;
		}

		&.angle {

			&:before {
				border-top: 60px solid $primary-color-4;
			}

			&:after {
				content: '';
				width: 0;
				height: 0;
				border-left: 100vw solid transparent;
				border-right: 0px solid transparent;
				border-bottom: 60px solid #fff;
				position: absolute;
				bottom: 0;
				left: 0;
			}
		}

		h2.section-header {
			color: #fff;
		}

		p {
			color: #fff;
		}
	}

	.contact {

		.social {
			font-family: $sans;
			list-style: none;
			margin: 30px 0 0;
			padding: 0;
			// text-align: center;

			li {
				display: inline;
				font-weight: 900;
				font-size: 1.5em;
				opacity: 0.3;

				&:hover {
					opacity: 1;
				}

				.email {
					color: $primary-color-1;
					border-color: $primary-color-1;
				}

				.twitter {
					color: $twitter;
					border-color: $twitter;
				}

				.linkedin {
					color: $linkedin;
					border-color: $linkedin;
				}

				.github {
					color: $github;
					border-color: $github;
				}

				.dribbble {
					color: $dribbble;
					border-color: $dribbble;
				}
			}
		}
	}
}

// #triangle-down {
// 	width: 0;
// 	height: 0;
// 	border-left: 50px solid transparent;
// 	border-right: 50px solid transparent;
// 	border-top: 100px solid red;
// }