.aside {
	background: #e1e1e3;

	&.affix {
		max-width: 390px;
	}

	.profile {
		// background: #e1e1e3;
		text-align: center;
		padding: 50px 0;

		.portrait {
			display: inline-block;
			max-width: 150px;
			max-height: 150px;
			// border-radius: 50%;
			// background: #666;
		}
	}

	.menu {
		padding: 50px 0;
	}
}