body {
	-webkit-font-smoothing: antialiased;
	font-family: "freight-sans-pro";
	font-size: 18px;
	font-weight: 500;
	line-height: 1.8em;
	text-align: justify;
	background: #f0f0f0;
}

h1, h2, h3 {
	margin: 0 0 30px;
	padding: 0;
}

.container {
	background: #fff;
	margin: 0 auto 30px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.2);
}

.section {
	min-height: 100%;
	padding: 30px 0;
	border-style: solid;
	border-width: 1px 0 0;
	border-color: #f0f0f0;

	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -0.25em;
	}
}

.center-content {
	display: inline-block;
	vertical-align: middle;
}