body {
	-webkit-font-smoothing: antialiased;
	font-family: "freight-sans-pro";
	font-size: 18px;
	font-weight: 500;
	line-height: 1.8em;
	// text-align: justify;
	background: #f0f0f0;
}

h1, h2, h3 {
	// margin: 0;
	padding: 0;
}

.center-content {
	display: inline-block;
	vertical-align: middle;
}