.header {
	background-color: $grey-scale-1;
	height: 80vh;

	.header-inner {
		text-align: center;
		position: relative;

		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
			margin-right: -0.25em;
		}

		.centered-content {
			display: inline-block;
			vertical-align: middle;
		}
	}

	ul {
		list-style: none;

		li {
			display: inline-block;
		}
	}
}