.top-navigation {
	background: lighten($primary-color, 10%);

	ul.menu {
		text-align: center;
		margin: 0;
		padding: 0;

		li {
			list-style: none;
			display: inline-block;

			a {
				display: inline-block;
				font-weight: 500;
				padding: 0 25px;
				line-height: 40px;
				// border-bottom: 3px solid #fff;

				&:hover {
					border-color: red;
					border-bottom: 3px solid #fff;
				}

				&.active {
					border-color: red;
					border-bottom: 3px solid #fff;
				}
			}
		}
	}
}