.header {
	background: #f9f9f9;

	.container {
		background: none;
	}

	.col-md-10 {
		&:before {
			content: '';
			display: inline-block;
			min-height: 90vh;
			vertical-align: middle;
			margin-right: -0.25em;
		}
	}

	h2 {
		font-size: 48px;
		line-height: 1.5em;
		font-weight: 600;
	}

	.panel {
		background: none;
		border: none;
		border-radius: 0;
		box-shadow: none;

		.panel-title {
			a {
				color: $brand-primary;
			}
		}

		.panel-heading {
			background: none;
			padding: 0;
		}

		.panel-body {
			border-top: none;
		}

		.caret {
			border-top: 12px solid;
			border-right: 10px solid transparent;
			border-left: 10px solid transparent;
		}
	}
}