.work {
	background: $grey-scale-2;

	.work-info {
		height: 778px;

		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
			margin-right: -0.25em;
		}

		.work-info-inner {
			display: inline-block;
			vertical-align: middle;
		}
	}
	.work-item {
		text-align: center;

		.work-item-content {
			position: absolute;
			width: 100%;
		}

		.screen {
			overflow: hidden;
		}
	}
}