---
title: Sam Willis - Product Designer
---

.homepage

	.page-header
		.container
			.row
				.col-sm-12
					%h1 I Design Digital Products
					%h2.subheader Among other things

	.introduction.section
		.container
			.row
				.col-sm-8.col-sm-offset-2
					%h2.section-header About Me

					%p.first-paragraph I am a Digital Product Designer based in London and am currently working at Soho-based incubator Evori.

					%p I have over 4 years experience as a Product Designer and Front-End Engineer across a handful of startups and small businesses in the UK. I also have a degree in Business, and co-organise monthly Designer meetup: Design+Banter.

	.case-studies.section
		.container
			.row
				.col-sm-8.col-sm-offset-2
					%h2.section-header Case Studies

					%p Here are a couple of projects I have worked on recently:

			.row
				.col-sm-8.col-sm-offset-2
					.row
						.col-sm-6
							%a.cta{:href => "case-studies/23snaps-frictionless-onboarding.html"}
								.case-study
									%h3 23snaps: Onboarding
						.col-sm-6
							%a.cta{:href => "case-studies/styloko-trend-pages.html"}
								.case-study
									%h3 Styloko: Trend Pages

	.experience.section
		.container
			.row
				.col-sm-8.col-sm-offset-2
					%h2.section-header My Experience

					%ul.experience-list
						%li.experience-item
							%span.date 2011 - 2013
							%h3.company Evently
							%span.role | Junior Designer
							%p.summary Evently built tools that helped Event Organisers sell tickets and promote their events effectively online.

						%li.experience-item
							%span.date 2013 - 2014
							%h3.company Listora
							%span.role | Designer
							%p.summary Listora helps event publishers and organisers to promote and drive traffic to online event listings.

						%li.experience-item
							%span.date 2014 - Present
							%h3.company Evori
							%span.role | Designer
							%p.summary The team at Evori build award winning startups, from scratch. Their portfolio currently consists of 23snaps, Styloko & Printastic.

	.designandbanter.section.angle
		.container
			.row
				.col-sm-8.col-sm-offset-2
					%img.db-logo(src="/images/db-logo.png")
					%p Design+Banter is a monthly event for Designers organised by myself and Gearóid O'Rourke. Each month ~200 London based Designers get together to trade stories, share ideas, and have a few drinks too.

					%p If you are a Designer, you should come! If you would like to speak at or sponsor a future event, then <a href="#">get in touch</a>.

					%p Stay up to date with D+B by signing up to our mailing list and/or following us on Twitter.

	.selected-works.section
		.container
			.row
				.col-sm-8.col-sm-offset-2
					%h2.section-header Selected Works

			.row
				.col-sm-12
					%a{:href => "#", :class => "item"}
						%img(src="https://d13yacurqjgara.cloudfront.net/users/177210/screenshots/2004764/broadband.png")
						%span.tag Brief text about item
					%a{:href => "#", :class => "item"}
						%img(src="https://d13yacurqjgara.cloudfront.net/users/177210/screenshots/1989979/screenshot_2015-03-25_16.52.33.png")
						%span.tag Brief text about item
					%a{:href => "#", :class => "item"}
						%img(src="https://d13yacurqjgara.cloudfront.net/users/177210/screenshots/1912409/artboard_1.png")
						%span.tag Brief text about item
					%a{:href => "#", :class => "item"}
						%img(src="https://d13yacurqjgara.cloudfront.net/users/177210/screenshots/1903235/screenshot_2015-01-28_12.10.02.png")
						%span.tag Brief text about item
					%a{:href => "#", :class => "item"}
						%img(src="https://d13yacurqjgara.cloudfront.net/users/177210/screenshots/1901749/artboard_1.png")
						%span.tag Brief text about item
					%a{:href => "#", :class => "item"}
						%img(src="https://d13yacurqjgara.cloudfront.net/users/177210/screenshots/1327167/screen_shot_2013-11-27_at_14.51.08.png")
						%span.tag Brief text about item
					%a{:href => "#", :class => "item"}
						%img(src="https://d13yacurqjgara.cloudfront.net/users/177210/screenshots/1232037/screen_shot_2013-09-11_at_21.27.45.png")
						%span.tag Brief text about item
					%a{:href => "#", :class => "item"}
						%img(src="https://d13yacurqjgara.cloudfront.net/users/177210/screenshots/1219380/pingpongfightclub-icons.png")
						%span.tag Brief text about item
					%a{:href => "#", :class => "item"}
						%img(src="https://d13yacurqjgara.cloudfront.net/users/177210/screenshots/1120026/m-m-sticker.png")
						%span.tag Brief text about item
					%a{:href => "#", :class => "item"}
						%img(src="https://d13yacurqjgara.cloudfront.net/users/177210/screenshots/1069278/dnblogo.png")
						%span.tag Brief text about item
					%a{:href => "#", :class => "item"}
						%img(src="https://d13yacurqjgara.cloudfront.net/users/177210/screenshots/980757/badge-dribble.png")
						%span.tag Brief text about item
					%a{:href => "#", :class => "item"}
						%img(src="https://d13yacurqjgara.cloudfront.net/users/177210/screenshots/950166/import-guide-cover2.png")
						%span.tag Brief text about item

	.contact.section.angle
		.container
			.row
				.col-sm-8.col-sm-offset-2
					%h2.section-header Get in touch

					%p If you want to hear more about Design+Banter, are interested in my work, or just want to chat, then do so on any of these channels:

					%ul.social
						%li
							%a.twitter{:href => "/"} Twitter,
						%li
							%a.dribbble{:href => "/"} Dribbble,
						%li
							%a.linkedin{:href => "/"} Linkedin,
						%li
							%a.github{:href => "/"} Github,
						%li
							%a.email{:href => "/"} Email.