---
title: Sam Willis - Product Designer
---

.homepage

	.page-header
		.container
			.row
				.col-sm-12
					.header-fade
						%h1 I Design Digital Products
						%h2.subheader This is still a work in progress, so please excuse any rough edges!

	.introduction.section
		.container
			.row
				.col-sm-8.col-sm-offset-2
					%h2.section-header About Me

					%p.first-paragraph I am a Digital Product Designer based in London and am currently working at Soho-based incubator Evori.

					%p I have over 4 years experience as a Product Designer and Front-End Engineer across a handful of startups and small businesses in the UK. I also have a degree in Business, and co-organise monthly Designer meetup: Design+Banter.

	.case-studies.section#case-studies
		.container
			.row
				.col-sm-8.col-sm-offset-2
					%h2.section-header Case Studies

					%p Here are a couple of projects I have worked on recently:

			.row
				.col-md-8.col-md-offset-2
					.row
						.col-md-6
							%a.cta{:href => "case-studies/23snaps-frictionless-onboarding.html"}
								.case-study.snaps
									%h4 23snaps: Onboarding
						.col-md-6
							%a.cta{:href => "case-studies/styloko-trend-pages.html"}
								.case-study.styloko
									%h4 Styloko: Trend Pages

						.col-md-6
							%a.cta{:href => "case-studies/styloko-trend-pages.html"}
								.case-study.printastic
									%h4 Printastic: Coming Soon&hellip;

	.experience.section
		.container
			.row
				.col-sm-8.col-sm-offset-2
					%h2.section-header My Experience

					%ul.experience-list
						%li.experience-item
							%span.date 2011 - 2013
							%h3.company Evently
							%span.role | Junior Designer
							%p.summary Evently built tools that helped Event Organisers sell tickets and promote their events effectively online.

						%li.experience-item
							%span.date 2013 - 2014
							%h3.company Listora
							%span.role | Design & Front End
							%p.summary Listora helps event publishers and organisers to promote and drive traffic to online event listings.

						%li.experience-item
							%span.date 2014 - Present
							%h3.company Evori
							%span.role | Design & Front End
							%p.summary The team at Evori build award winning startups, from scratch. Their portfolio currently consists of 23snaps, Styloko & Printastic.

						%li.experience-item
							%span.date 2011 - Present
							%h3.company Ongoing Freelance Work
							%span.role | Design, Consulting & Front End
							%p.summary There are too many to list here, but I am always busily working away at freelance or side projects. See below for a curated selection of my work.

	.designandbanter.section.angle
		.container
			.row
				.col-sm-8.col-sm-offset-2
					%img.db-logo(src="/images/db-logo.png")
					%p Design+Banter is a monthly event for Designers organised by myself and Gearóid O'Rourke. Each month ~200 London based Designers get together to trade stories, share ideas, and have a few drinks too.

					%p If you are a Designer, you should come! If you would like to speak at or sponsor a future event, then <a href="#">get in touch</a>.

					%p Stay up to date with D+B by signing up to our mailing list and/or following us on Twitter.

	.selected-works.section
		.container
			.row
				.col-sm-8.col-sm-offset-2
					%h2.section-header Selected Works

		.item-grid
			#shotsByPlayerId
				%tr

	.contact.section#contact
		.container
			.row
				.col-sm-8.col-sm-offset-2
					%h2.section-header Get in touch

					%p If you want to hear more about Design+Banter, are interested in my work, or just want to chat, then do so on any of these channels:

					%ul.social
						%li
							%a.twitter{:href => "/"} Twitter,
						%li
							%a.dribbble{:href => "/"} Dribbble,
						%li
							%a.linkedin{:href => "/"} Linkedin,
						%li
							%a.github{:href => "/"} Github,
						%li
							%a.email{:href => "/"} Email.