---
title: Sam Willis - Product Designer
---

.homepage

	.page-header
		.container
			.row
				.col-sm-12
					%h1 I Make Digital Products
					%h2.subheader And other things

	.introduction.section
		.container
			.row
				.col-sm-8.col-sm-offset-2
					%h2.section-header About Me

					%p.first-paragraph I am a Digital Product Designer based in London and am currently working at Soho-based incubator Evori.

					%p I have over 4 years experience as a Product Designer and Front-End Engineer across a handful of startups and small businesses in the UK. I also have a degree in Business, and co-organise monthly Designer meetup: Design+Banter.

	-# .experience.section
	-# 	.container
	-# 		.row
	-# 			.col-sm-8.col-sm-offset-2
	-# 				%h2.section-header Experience

	-# 				%ul.experience-list
	-# 					%li
	-# 						%h3 Evently
	-# 						%span 2011 - 2013
	-# 						%p Summary

	-# 					%li
	-# 						%h3 Listora
	-# 						%span 2013 - 2014
	-# 						%p Summary

	-# 					%li
	-# 						%h3 Evori
	-# 						%span 2014 - Present
	-# 						%p Summary

	.case-studies.section.angle
		.container
			.row
				.col-sm-8.col-sm-offset-2
					%h2.section-header Case Studies

					%p Here are a couple of projects I have worked on recently:

			.row
				.col-sm-8.col-sm-offset-2
					.row
						.col-sm-6
							%a.cta{:href => "/case-studies/23snaps-frictionless-onboarding.html"}
								.case-study
									%h3 23snaps: Onboarding
						.col-sm-6
							%a.cta{:href => "/case-studies/styloko-trend-pages.html"}
								.case-study
									%h3 Styloko: Trend Pages

	.designandbanter.section.angle{"data-stellar-background-ratio" => "0.5"}
		.container
			.row
				.col-sm-8.col-sm-offset-2
					%img.db-logo(src="/images/db-logo.png")
					%p Design+Banter is a meetup for Designers organised by myself and Gearóid O'Rourke. Every month ~200 Designers get together to trade stories, share ideas, and have a few drinks too.

					%p If you are a Designer, you should come! If you would like to speak at or sponsor a future event, I would love to hear from you.

					%a.button{:href => "/"} Follow us on Twitter

	.contact.section.angle
		.container
			.row
				.col-sm-8.col-sm-offset-2
					%h2.section-header Get in touch

					%p If you want to hear more about Design+Banter, are interested in my work, or just want to chat, then do so on any of these channels:

					%ul.social
						%li
							%a.twitter{:href => "/"} Twitter,
						%li
							%a.dribbble{:href => "/"} Dribbble,
						%li
							%a.linkedin{:href => "/"} Linkedin,
						%li
							%a.github{:href => "/"} Github,
						%li
							%a.email{:href => "/"} Email.