---
title: Sam Willis - Product Designer
---

.homepage

	.page-header
		.container
			.row
				.col-sm-12
					//%h1 I am a Digital Product Designer

					%h1 This site is a work in progress
					%h2.subheader So please don't judge.

	.introduction.section
		.container
			.row
				.col-sm-8.col-sm-offset-2
					%h2 About Me

					%p.first-paragraph I am a Digital Product Designer based in London and am currently working at Soho-based incubator Evori.

					%p I have over 4 years experience as a Product Designer and Front-End Engineer across a handful of startups and small businesses in the UK. I also have a degree in Business, and co-organise monthly Designer meetup: Design+Banter.

	.case-studies.section
		.container
			.row
				.col-sm-8.col-sm-offset-2
					%h2 Case Studies

					.row
						.col-sm-6
							.case-study-image
								image_tag("/images/")
							%h3 Test Case Study
							%p Small summary
							%a.cta{:href => "/case-studies/styloko-trend-pages.html"} Read more

						.col-sm-6
							.case-study-image
								image_tag("/images/")
							%h3 Test Case Study
							%p Small summary
							%a.cta{:href => "/case-studies/23snaps-frictionless-onboarding.html"} Read more

	.contact.section
		.container
			.row
				.col-sm-8.col-sm-offset-2
					%h2 Get in touch

					%p If you are interested in talking or sponsoring Design+Banter, interested in my work, want to stalk me, or simply want to chat then you can get me on the following channels:

					%ul
						%li
							%a.twitter{:href => "/"} Twitter
						%li
							%a.github{:href => "/"} Github
						%li
							%a.dribbble{:href => "/"} Dribbble
						%li
							%a.linkedin{:href => "/"} Linkedin
						%li
							%a.email{:href => "/"} Email