---
title: Sam Willis - Product Designer
---

.homepage

	.page-header
		.container
			.row
				.col-sm-12
					%h1 I Make Digital Products
					%h2.subheader And other things

	.introduction.section
		.container
			.row
				.col-sm-8.col-sm-offset-2
					%h2.section-header About Me

					%p.first-paragraph I am a Digital Product Designer based in London and am currently working at Soho-based incubator Evori.

					%p I have over 4 years experience as a Product Designer and Front-End Engineer across a handful of startups and small businesses in the UK. I also have a degree in Business, and co-organise monthly Designer meetup: Design+Banter.

	.case-studies.section
		.container
			.row
				.col-sm-8.col-sm-offset-2
					%h2.section-header Case Studies

			.row
				.col-sm-12
					.row
						.col-sm-6
							%a.cta{:href => "/case-studies/23snaps-frictionless-onboarding.html"}
								.case-study
									%h3 23snaps: Onboarding
						.col-sm-6
							%a.cta{:href => "/case-studies/styloko-trend-pages.html"}
								.case-study
									%h3 Styloko: Trend Pages

	.designandbanter.section
		.container
			.row
				.col-sm-8.col-sm-offset-2
					%h2.section-header Design+Banter

					%p Design+Banter is a community meetup for Designers, organised by myself and Gearóid O'Rourke. Every month we invite the best and brightest minds in London to talk about and debate issues around the topic of Design.

					%p If you are interested in speaking at, or sponsoring a future Design+Banter then please do get in touch.

					%p If you want to stay up to date with D+B news and ticket releases then make sure to sign up to our mailing list and follow us on Twitter!

	.contact.section
		.container
			.row
				.col-sm-8.col-sm-offset-2
					%h2.section-header Get in touch

					%p If you want to hear more about Design+Banter, are interested in my work, or just want to chat, then do so on any of these channels:

					%ul.social
						%li
							%a.twitter{:href => "/"} Twitter,
						%li
							%a.dribbble{:href => "/"} Dribbble,
						%li
							%a.linkedin{:href => "/"} Linkedin,
						%li
							%a.github{:href => "/"} Github,
						%li
							%a.email{:href => "/"} Email.